/* Layout Principal */
.main-content-area {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 1100px;
}
.site-footer {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.85em;
    color: #737373;
    text-align: center;
    border-top: 1px solid #dddfe2;
}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-bottom: 15px;
}
.footer-links a {
    color: #606770;
    text-decoration: none;
    margin: 0;
}
.footer-links a:hover {
    text-decoration: underline;
}
.footer-copyright {
    color: #8a96a3;
    font-size: 0.9em;
    margin-top: 0;
}
.feed-container,
.profile-main-content {
    flex-grow: 1;
    min-width: 0;
}
.feed-container {
    max-width: 680px;
}

/* Seção Responsiva */
@media (max-width: 992px) {
    .site-sidebar {
        display: none;
    }
    .main-content-area {
        padding: 0;
        margin: 20px 0 0 0;
        display: block;
    }

    .feed-container,
    .profile-main-content {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0 15px;
        box-sizing: border-box;
    }
}